div.container {
    width: 1027px;
    margin: auto;
    padding: 67px 130px;
}

div.listGift {
    margin-top: 75px;
}

div.topListGift {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

div.topListGift h1 {
    font-size: 24px;
    font-weight: 500;
}

div.topListGift button {
    background-color: #FF4D00;
    color: white;
    height: 57px;
    border-radius: 8px;
    border: none;
    padding: 0 27px;
    font-size: 18px;
    font-weight: bold;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
}

.div5 {
    grid-area: 2 / 1 / 3 / 2;
}

.div6 {
    grid-area: 2 / 2 / 3 / 3;
}

.div7 {
    grid-area: 2 / 3 / 3 / 4;
}

.div8 {
    grid-area: 2 / 4 / 3 / 5;
}